<section class="wemd-component wemd-resource-list wemd-rl-stack" data-component="resource-list">
<section class="wemd-rl-header wemd-rl-stack">
<span class="wemd-rl-top-bar"></span>
<section class="wemd-rl-title">{{slot:title}}</section>
<section class="wemd-rl-subtitle">{{slot:subtitle}}</section>
</section>
<section class="wemd-rl-items">
{{#each items}}
<div class="wemd-rl-items-item">
<div class="wemd-rl-items-label">{{this.label}}</div>
<div class="wemd-rl-items-title">{{this.title}}</div>
<div class="wemd-rl-items-desc">{{this.desc}}</div>
<div class="wemd-rl-items-meta">{{this.meta}}</div>
<div class="wemd-rl-items-tag">{{this.tag}}</div>
</div>
{{/each}}
</section>
</section>